/* .nav-file-title-content::before { content: '📂 '; } */
/* .nav-folder-title-content::before { content: '📂 '; } */

/* Flat font */
.nav-folder-children .nav-file-title-content:first-child::before {
  content: "📜 ";
}
.nav-folder-children .nav-folder-title-content::before {
  content: "📂 ";
}

